[buildout]
extends = base.cfg
develop = sunflower.scripts.odoo

[odoo]
version = git http://github.com/OCA/OCB.git odoo 8.0 depth=1
release = 8.0
eggs += 
    pyserial
    pypdf2
    unicodecsv
    sunflower.scripts.odoo

openerp_scripts = upgrade_module arguments=session

addons +=
    git git@github.com:sunflowerit/custom-installations.git parts/custom 8.0-custom-pianoservice

# This directive will nuke local changes, but without it, a branch with merges
# cannot be updated if the main branch has progressed. This will break
# rebuilds. Use this in production and testing, not in development.
vcs-clear-retry = True

options.db_maxconn = 64
options.workers = 2
options.max_cron_threads = 1
options.xmlrpc = True
options.xmlrpcs = False
options.netrpc = False
#options.without_demo = True
options.limit_time_cpu = 36000
options.limit_time_real = 72000
options.longpolling_port = 8170
options.log_handler = :INFO,werkzeug:CRITICAL,openerp.service.server:INFO
options.log_level = info
options.lang = nl_NL



