[buildout]
extends = base.cfg
develop = sunflower.scripts.odoo

[odoo]
version = git /opt/odoo9 odoo 9.0 depth=1
release = 9.0
eggs += 
    pyserial
    pypdf2
    unicodecsv
    sunflower.scripts.odoo

openerp_scripts = upgrade_module arguments=session

addons +=
    git git@github.com:OCA/bank-statement-import.git parts/bank-statement-import 9.0


# This directive will nuke local changes, but without it, a branch with merges
# cannot be updated if the main branch has progressed. This will break
# rebuilds. Use this in production and testing, not in development.
vcs-clear-retry = True


#version = git /opt/odoo9 odoo HEAD depth=1  # optionally refer to a local git repo to get Odoo
options.admin_passwd = l44k
options.db_host = localhost
options.db_name = vc9
options.db_port = 5432
options.db_user = odoovc9
options.db_password = M4dd34 
options.xmlrpc_port = 9999 
options.longpolling_port = 9998
#options.dbfilter = ^XXXX.*$
#options.logfile = /var/log/odoo/$DBUSER.log
options.workers = 2
options.log_level = info
options.lang = nl_NL
options.= nl_NL
